In [32]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [33]:
housing = pd.read_csv("raw_data/datasets/CA_housing.csv")
population = pd.read_csv("raw_data/datasets/CA_pop.csv")
empl_wages = pd.read_csv("raw_data/datasets/Wages_Emp.csv")
commuting_flows = pd.read_csv("raw_data/datasets/Commuting_Flows.csv")

socal = ['Los Angeles', 'San Diego', 'Orange', 'Riverside', 'San Bernardino', 'Ventura']

/var/folders/6y/m69ngqb568nbb5t5p3lz216r0000gn/T/ipykernel_38025/200071059.py:4: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  commuting_flows = pd.read_csv("datasets/Commuting_Flows.csv")

In [34]:
#Cleaning the housing data

housing = housing.rename(columns={"           Total Housing": "Total Housing 24", 
                                  "Unnamed: 2": "Total Housing 25",
                                "Percent": "Percent Change",
                                'State/County': 'County'
                                }) 

housing = housing.iloc[2:]
housing = housing[housing['County'].isin(socal)].reset_index(drop=True)

num_cols = [
    "Total Housing 24",
    "Total Housing 25",
    "Percent Change",
]

for c in num_cols:
    housing[c] = (housing[c].astype(str)
                  .str.replace(",", "", regex=False)
                  .str.strip())
    housing[c] = pd.to_numeric(housing[c], errors="coerce")

housing.to_csv("datasets/socal_housing.csv", index=False)

In [35]:
#Cleaning the population dataset 

population = population.rename(columns={"           Total Population": "Total Population 24", 
                                  "Unnamed: 2": "Total Population 25",
                                "Percent": "Percent Change",
                                'State/County': 'County'
                                }) 

population = population.iloc[2:]
population = population[population['County'].isin(socal)].reset_index(drop=True)

num_cols = [
    "Total Population 24",
    "Total Population 25",
    "Percent Change",
]

for c in num_cols:
    population[c] = (population[c].astype(str)
                  .str.replace(",", "", regex=False)
                  .str.strip())
    population[c] = pd.to_numeric(population[c], errors="coerce")

population.to_csv("datasets/socal_population.csv", index=False)

In [36]:
#Cleaning the employment and wages dataset 

empl_wages = empl_wages.rename(columns={"Annual\nEstablishments": "Num_Establishments", 
                                  "Annual\nAverage\nEmployment": "Employment",
                                "Total\nAnnual\nWages": "Annual_Wages",
                                "Annual\nAverage\nWeekly Wage": "Weekly_Wage",
                                "Annual\nWages per\nEmployee": "Wage_per_Employee",
                                })
empl_wages.head()

empl_wages = empl_wages.iloc[:, :6]


empl_wages["County"] = empl_wages["County"].str.replace(r"\s*County,\s*California\s*$", "", regex=True)
empl_wages = empl_wages[empl_wages['County'].isin(socal)].reset_index(drop=True)

we = empl_wages.copy()   

num_cols = [
    "Num_Establishments",
    "Employment",           
    "Annual_Wages",
    "Weekly_Wage",
    "Wage_per_Employee",
]

#converting to numeric 
for c in num_cols:
    we[c] = (we[c].astype(str)
                  .str.replace(",", "", regex=False)
                  .str.strip())
    we[c] = pd.to_numeric(we[c], errors="coerce")

we.to_csv("datasets/socal_empl_wages.csv", index=False)

In [37]:
commuting_flows_ = commuting_flows[(commuting_flows['State Name'] == 'California')]
ca_to_ca_commuting = commuting_flows_[commuting_flows_['State Name.1'] == 'California']
ca_to_ca_commuting = commuting_flows_[commuting_flows_['State Name.1'] == 'California']
ca_to_ca_commuting = ca_to_ca_commuting[['State Name', 'County Name', 'State Name.1', 'County Name.1', 'Workers in Commuting Flow', 'Margin of Error']]
ca_to_ca_commuting = ca_to_ca_commuting.rename(columns={'County Name': 'Residence_County', 'County Name.1': 'Workplace_County'})    
ca_to_ca_commuting["Residence_County"] = ca_to_ca_commuting["Residence_County"].str.rsplit(" ", n=1).str[0]
ca_to_ca_commuting["Workplace_County"] = ca_to_ca_commuting["Workplace_County"].str.rsplit(" ", n=1).str[0]

ca_to_ca_commuting = ca_to_ca_commuting[ca_to_ca_commuting['Residence_County'].isin(socal) & ca_to_ca_commuting['Workplace_County'].isin(socal)]

ca_to_ca_commuting.to_csv("datasets/socal_commuting_flows.csv", index=False)

In [38]:
empl_wages

,County,Num_Establishments,Employment,Annual_Wages,Weekly_Wage,Wage_per_Employee
0,Los Angeles,"572,385","4,525,711","378,140,908,586","1,607","83,554"
1,Orange,"148,394","1,661,276","135,232,345,686","1,565","81,403"
2,Riverside,"86,446","840,433","50,202,249,277","1,149","59,734"
3,San Bernardino,"77,170","845,908","52,757,761,723","1,199","62,368"
4,San Diego,"133,031","1,536,541","127,309,240,480","1,593","82,854"
5,Ventura,"31,435","336,272","23,702,861,713","1,356","70,487"

In [39]:
ca_to_ca_commuting

,State Name,Residence_County,State Name.1,Workplace_County,Workers in Commuting Flow,Margin of Error
6369,California,Los Angeles,California,Los Angeles,"4,429,523","9,310"
6377,California,Orange,California,Los Angeles,"180,250","3,304"
6379,California,Riverside,California,Los Angeles,"53,172","1,960"
6381,California,San Bernardino,California,Los Angeles,"132,992","2,890"
6382,California,San Diego,California,Los Angeles,"6,075",677
6396,California,Ventura,California,Los Angeles,"66,180","2,065"
7154,California,Los Angeles,California,Orange,"196,169","3,099"
7162,California,Orange,California,Orange,"1,325,458","8,081"
7164,California,Riverside,California,Orange,"75,863","2,686"
7167,California,San Bernardino,California,Orange,"37,327","1,713"
7168,California,San Diego,California,Orange,"12,120","1,154"
7181,California,Ventura,California,Orange,576,148
7491,California,Los Angeles,California,Riverside,"16,786","1,044"
7496,California,Orange,California,Riverside,"16,208","1,196"
7497,California,Riverside,California,Riverside,"725,518","5,580"
7499,California,San Bernardino,California,Riverside,"78,508","2,189"
7500,California,San Diego,California,Riverside,"6,989",687
7512,California,Ventura,California,Riverside,177,90
7751,California,Los Angeles,California,San Bernardino,"60,779","1,963"
7756,California,Orange,California,San Bernardino,"12,934",820
7758,California,Riverside,California,San Bernardino,"113,716","2,895"
7760,California,San Bernardino,California,San Bernardino,"657,249","5,414"
7761,California,San Diego,California,San Bernardino,"1,209",257
7771,California,Ventura,California,San Bernardino,586,233
7878,California,Los Angeles,California,San Diego,"4,724",605
7883,California,Orange,California,San Diego,"12,094",903
7885,California,Riverside,California,San Diego,"47,073","2,301"
7887,California,San Bernardino,California,San Diego,"2,796",492
7888,California,San Diego,California,San Diego,"1,588,755","7,353"
7899,California,Ventura,California,San Diego,333,134
9423,California,Los Angeles,California,Ventura,"34,298","1,558"
9428,California,Orange,California,Ventura,605,222
9430,California,Riverside,California,Ventura,824,311
9432,California,San Bernardino,California,Ventura,512,198
9433,California,San Diego,California,Ventura,295,116
9443,California,Ventura,California,Ventura,"321,696","2,775"

In [ ]:
housing = pd.read_csv("datasets/CA_housing.csv")
population = pd.read_csv("datasets/CA_pop.csv")
empl_wages = pd.read_csv("datasets/Wages_Emp.csv")
commuting_flows = pd.read_csv("datasets/Commuting_Flows.csv")

socal = ['Los Angeles', 'San Diego', 'Orange', 'Riverside', 'San Bernardino', 'Ventura']

CA Housing and Population Estimates 2024 (https://dof.ca.gov/forecasting/demographics/estimates-e1/)
Employment and Wage Data 2024 (https://data.bls.gov/cew/apps/data_views/data_views.htm#tab=Tables)  
5 Year ACS Commuting Flows  (https://www.census.gov/data/tables/2020/demo/metro-micro/commuting-flows-2020.html)

We make the following assumptions:
- Regions $i = 1,\dots,6$ counties
- Time: static (2025 equilibrium)
- Households choose where to live and work
- Firms hire labor locally
- Housing is locally supplied
- Commuting is costly
- Wildfire is an exogenous amenity and housing shoc

A household chooses residence $i$ and workplace $j$.

\begin{align}
U_{ij} &= \log w_j - \kappa d_{ij} - \log P_i + A_i - \chi F_i + \varepsilon_{ij}\\
\end{align}
where: 
- $w_{j}$ : wage in workplace county
- $d_{ij}$ : commuting distance/time
- $P_i$ : housing price in resident county
- $A_i$ : amenities of resident county
- $F_i$ : wildfire exposure (burned area)
- $\kappa$: commuting cost parameter
- $\chi$: disutility of wildfire

Choice probabilities: 
\begin{align}
\pi_{ij} = \cfrac{\exp(U_{ij})}{\sum_j \exp(U_{ij})}
\end{align}

Endogenous Commuting Flow: 
\begin{align}
L_{ij} &= N \pi_{ij}\\
N_i &= \sum_{j} L_{ij}
\end{align}

Firms in county j produce:
\begin{align}
Y_j &= Z_j L_j\\
L_j &= \sum_i L_{ij}
\end{align}

Wages equal marginal product:
\begin{align}
w_j = Z_j
\end{align}

Fires will disrupt businesses and lower Z_j.



**Housing**
Housing supply:
$H_i = \bar H_i$

Wildfire destroys housing:
$\bar H_i^{2025} = \bar H_i^{2024} (1 - \delta_i)$

Housing market clearing:
$N_i = H_i$

Prices adjust to clear the market:
$P_i = P_i(N_i, H_i)$

Elasticity from data:
$\log P_i = \eta \log (N_i / H_i)$

**Commuting costs (gravity)**
Commuting flows imply:
\begin{align}
\log L_{ij} = \log N_i + \log L_j - \kappa d_{ij}
\end{align}
Estimate $\kappa$ using your commuting matrix.

Equiibrium: is a set $\{N_i, L_{ij}, w_j, P_i\}$ s.t. households optimize, firms optimize, housing clears, labor clears, and flows are consistent with choices.

Solve by fixed point iteration:  
	1.	Guess wages and prices  
	2.	Compute flows  
	3.	Update populations and employment  
	4.	Update prices and wages  
	5.	Iterate

### Estimation strategy

- (A) Commuting elasticity → estimate $\kappa$
\begin{align}
\log L_{ij} = -\kappa d_{ij} + \text{FE}_i + \text{FE}_j
\end{align}

- (B) Housing price elasticity → estimate $\eta$
\begin{align}
\log P_i = \eta \log (N_i / H_i)
\end{align}

- (C) Amenity loss from wildfire.  Use population changes: → calibrate $\chi$
\begin{align}
\Delta \log N_i = -\chi F_i + \text{controls}
\end{align}

### Counterfactual: 2025 Fire

Shock:
- $A_i \downarrow$ (amenity loss)
- $\bar H_i \downarrow$ (housing destruction)
- Possibly $Z_j \downarrow$ (business disruption)
- Possibly $d_{ij} \uparrow$ (road closures)

Recompute equilibrium.

Main Quantities of Interest, report:
- Population reallocation
- Housing prices
- Wage changes
- Commuting re-routing
- Welfare loss with vs without commuting

### Key Counterfactual:

What if commuting were impossible? Set $\kappa \to \infty$, recompute equilibrium. Compare:
- population loss
- wage collapse
- housing price decline

This shows how commuting buffers disaster impacts.